<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" parallel="methods" thread-count="2" name="C:/Users/LENOVO/IdeaProjects/AutomationFramework1">
        <classes>
            <class name="TestClass.Logintests">
                <methods>
                    <include name="verifyLogin1"/>
                    <include name="verifyLogin2"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>